################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs/Project1/v16
/.vs/NETFLIX.proyect/v16
/.vs
